button {
    color: rgb(116, 65, 65);
    align-items: center;
    margin: auto;
    display: grid;
    width:600px;
    font-size: 40px;
    font-family: monospace;
    
    
   
    
}
#pad {
    padding-top: 200px;
    margin: auto;
    display: grid;
   
    
}